
#comprar{
    color: rgb(11, 155, 11) !important;
}

#navbarGrey{
    background-color:rgb(63, 63, 63) !important;
    padding-left: 50px;
    padding-right: 50px;
}

.img-fluid{
    filter: brightness(50%)
}



.d-block{
   filter: brightness(50%);
}

.carousel-caption {
    position: absolute;
    color: #fff;
    bottom: 8px;
    right: 16px;
    padding-left: 400px;
    padding-right: 100px;
    padding-bottom: 200px;
    text-align: end;   
}

.btn-success{
    background-color: green;
}

.texto1{
    margin: 0 !important;
    padding-top: 10px;
    text-align: center;
}

.texto2{
   
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin: 2px !important;
}

.cardsOradores{
    padding-left: 200px !important;
    padding-right: 200px !important;
}

.oradores{
    margin-left: 300px !important;
}

.cadsOradores{
    margin: 0% 15% 5% 15%;
    text-align: center;
}

.card-img-top{
   object-fit: fill;
}

.h-100{
   text-align:justify;
}

.card-text1{
    font-size: small;
}

.card-body button{
    padding: 1px;
    font-size: 13px
}

.column1 {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
#colHonTxt{
    background-color: rgb(63, 63, 63);
}

#colHonImg{
    padding: 0;
}

.column1{
    margin-top: 20px;
}


.imgHon{
    height: 100%;
    width: 100%;

}


.tituloHonolulu{
    color: white;
    padding: 10px;
    padding-bottom: 0;
    text-align: justify;
    font-size: 25px;
}

.textoHonolulu{
    color: white;
    padding: 10px;
    padding-bottom: 0;
    margin-right: 10px;
    text-align: justify;
    font-size: small;
}
.conoceMas{
    padding-left: 10px;
    padding-top: 0;
}

.texto3{
    text-align: center;
}


.form1{
    margin: 0 auto;
    width: 600px;  
    margin-bottom: 100px;
}

.botonForm{
    width: 600px;
    background-color: rgb(136, 194, 60);
    margin: 10px;
}

.form-control1{
    margin: 10px;
}

.texto4{
    margin: 10px;
    color: rgb(95, 95, 95);
    font-size: small;
}

#exampleFormControlTextarea1{
    font-size: large;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
	height: 75px;
    background: rgb(9,46,87);
    background: linear-gradient(90deg, rgba(9,46,87,1) 0%, rgba(22,66,77,1) 45%, rgba(5,97,116,1) 100%);
    margin: 0;
    text-align: center;
}
.footer {
   text-align: center;
}
.footer ul {
	padding: 0;
    padding-top: 20px;
    list-style-type: none;
    margin: 0;
}
.footer li {
	display: inline-block
}
li {
	color: #ffffff;
	font-size: 15px;
    padding: 10px;
}


#comprar{
    color: rgb(11, 155, 11) !important;
}


.card-group-tickets{
    margin-top: 50px;
    width: 750px;
}

.cont-form{
    max-width: 750px;
}

.botonEnviar{
    background-color: rgb(136, 194, 60);
}

.formTickets{
    margin-bottom: 100px;
}